.footer .box {
  
 padding: 2em;
  color: hsla(0, 0%, 17%, 1);
 background:hsla(305, 100%, 79%, 1)
}
.footer .box:first-child {
     color: hsla(0, 0%, 17%, 1);
 background:hsla(305, 100%, 79%, 1)
}
.main-footer {
 padding: 2em;
 background:hsla(193, 100%, 65%, 1);
 color: white;
 text-align: center;
}