.footer .box {
  
 padding: 2em;
  color: hsla(0, 0%, 17%, 1);
 background: hsl(17, 89%, 32%)
}
.footer .box:first-child {
     color: hsla(0, 0%, 17%, 1);
 background:hsl(17, 89%, 32%)
}
.main-footer {
 padding: 2em;
 background:rgb(41, 40, 40);
 color: white;
 text-align: center;
}